# Project Goals
In this project, we'll play the role of data analyst and pretend our stakeholders want to know the following:

- Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
- Are younger employees resigning due to some kind of dissatisfaction? What about older employees?

In [ ]:
import pandas as pd
dete_survey = pd.read_csv("dete_survey.csv", na_values = 'Not Stated')
tafe_survey= pd.read_csv("tafe_survey.csv")
dete_survey.info()
tafe_survey.info()

In [ ]:
print(dete_survey.head())
print(tafe_survey.head())

In [ ]:
print(dete_survey.isnull().sum())
print(tafe_survey.isnull().sum())

There are a bunch of columns we don't need to answer our original questions, so we're going to drop them to make the data set a bit easier to handle

In [17]:
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49], axis = 1)
tafe_survey_updated= tafe_survey.drop(tafe_survey.columns[28:49], axis = 1)

In [18]:
dete_survey_updated.info()
tafe_survey_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   822 non-null    int64
 1   SeparationType                       822 non-null    object
 2   Cease Date                           788 non-null    object
 3   DETE Start Date                      749 non-null    float64
 4   Role Start Date                      724 non-null    float64
 5   Position                             817 non-null    object
 6   Classification                       455 non-null    object
 7   Region                               717 non-null    object
 8   Business Unit                        126 non-null    object
 9   Employment Status                    817 non-null    object
 10  Career move to public sector         822 non-null    bool
 11  Career move to private sector        822 non-null    bool
 12  Interpersonal conflicts              822 non-null    bool
 13  Job dissatisfaction                  822 non-null    bool
 14  Dissatisfaction with the department  822 non-null    bool
 15  Physical work environment            822 non-null    bool
 16  Lack of recognition                  822 non-null    bool
 17  Lack of job security                 822 non-null    bool
 18  Work location                        822 non-null    bool
 19  Employment conditions                822 non-null    bool
 20  Maternity/family                     822 non-null    bool
 21  Relocation                           822 non-null    bool
 22  Study/Travel                         822 non-null    bool
 23  Ill Health                           822 non-null    bool
 24  Traumatic incident                   822 non-null    bool
 25  Work life balance                    822 non-null    bool
 26  Workload                             822 non-null    bool
 27  None of the above                    822 non-null    bool
 28  Gender                               798 non-null    object
 29  Age                                  811 non-null    object
 30  Aboriginal                           16 non-null     object
 31  Torres Strait                        3 non-null      object
 32  South Sea                            7 non-null      object
 33  Disability                           23 non-null     object
 34  NESB                                 32 non-null     object
dtypes: bool(18), float64(2), int64(1), object(14)
memory usage: 123.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 51 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   Record ID                                                                                                        702 non-null    float64
 1   Institute                                                                                                        702 non-null    object
 2   WorkArea                                                                                                         702 non-null    object
 3   CESSATION YEAR                                                                                                   695 non-null    float64
 4   Reason for ceasing employment                                                                                    701 non-null    object
 5   Contributing Factors. Career Move - Public Sector                                                                437 non-null    object
 6   Contributing Factors. Career Move - Private Sector                                                               437 non-null    object
 7   Contributing Factors. Career Move - Self-employment                                                              437 non-null    object
 8   Contributing Factors. Ill Health                                                                                 437 non-null    object
 9   Contributing Factors. Maternity/Family                                                                           437 non-null    object
 10  Contributing Factors. Dissatisfaction                                                                            437 non-null    object
 11  Contributing Factors. Job Dissatisfaction                                                                        437 non-null    object
 12  Contributing Factors. Interpersonal Conflict                                                                     437 non-null    object
 13  Contributing Factors. Study                                                                                      437 non-null    object
 14  Contributing Factors. Travel                                                                                     437 non-null    object
 15  Contributing Factors. Other                                                                                      437 non-null    object
 16  Contributing Factors. NONE                                                                                       437 non-null    object
 17  Main Factor. Which of these was the main factor for leaving?                                                     113 non-null    object
 18  InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                           608 non-null    object
 19  InstituteViews. Topic:2. I was given access to skills training to help me do my job better                       613 non-null    object
 20  InstituteViews. Topic:3. I was given adequate opportunities for personal development                             610 non-null    object
 21  InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%              608 non-null    object
 22  InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                  615 non-null    object
 23  InstituteViews. Topic:6. The organisation recognised when staff did good work                                    607 non-null    object
 24  InstituteViews. Topic:7. Management was generally supportive of me                                               614 non-null    object
 25  InstituteViews. Topic:8. Management was generally supportive of my team                                          608 non-null    object
 26  InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me            610 non-null    object
 27  InstituteViews. Topic:10. Staff morale was positive within the Institute                                         602 non-null    object
 28  InductionInfo. Topic:Did you undertake a Corporate Induction?                                                    432 non-null    object
 29  InductionInfo. Topic:Did you undertake a Institute Induction?                                                    483 non-null    object
 30  InductionInfo. Topic: Did you undertake Team Induction?                                                          440 non-null    object
 31  InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?        555 non-null    object
 32  InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?             555 non-null    object
 33  InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                   555 non-null    object
 34  InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                       530 non-null    object
 35  InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                            555 non-null    object
 36  InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                   553 non-null    object
 37  InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                   555 non-null    object
 38  InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]  555 non-null    object
 39  InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                         555 non-null    object
 40  Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?        608 non-null    object
 41  Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?      594 non-null    object
 42  Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                   587 non-null    object
 43  Workplace. Topic:Does your workplace value the diversity of its employees?                                       586 non-null    object
 44  Workplace. Topic:Would you recommend the Institute as an employer to others?                                     581 non-null    object
 45  Gender. What is your Gender?                                                                                     596 non-null    object
 46  CurrentAge. Current Age                                                                                          596 non-null    object
 47  Employment Type. Employment Type                                                                                 596 non-null    object
 48  Classification. Classification                                                                                   596 non-null    object
 49  LengthofServiceOverall. Overall Length of Service at Institute (in years)                                        596 non-null    object
 50  LengthofServiceCurrent. Length of Service at current workplace (in years)                                        596 non-null    object
dtypes: float64(2), object(49)
memory usage: 279.8+ KB